.App {
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* Add your existing CSS rules here */

/* Reset some default styles */
body, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

/* Set a background color */
body {
  background-color: #f0f0f0;
}

/* Style the navigation bar */
.navbar {
  margin-bottom: 20px;
  background-color: #f8f9fa; /* Light background color */
  transition: background-color 0.3s ease-in-out;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  margin: 0 10px;
  color: #555;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

/* Style the news cards */
.card {
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-44px);
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-text {
  color: #555;
}

.card img {
  max-height: 200px;
  object-fit: cover;
}